Repository VOICEVOX/voicevox_engine, pull requests merged in 2024-03, with the labels that each got.

#1108 FIX: 依存関係の修正
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-license.txt
  requirements-test.txt
  requirements.txt
Labels: バグ

#1113 修正: cpu_num_threadsが未指定または0の場合に、論理コア数の半分をコアに渡すようにする
  README.md
  test/test_core_utility.py
  voicevox_engine/core/core_initializer.py
  voicevox_engine/utility/core_utility.py
Labels: バグ, 優先度：中

#647 feat: Bind to localhost instead of 127.0.0.1 by default
  run.py
Labels: 優先度：中

#1103 修正: Settingクラスのcors_policy_modeの型をCorsPolicyModeのみに制限
  run.py
  test/setting/test_setting.py
  voicevox_engine/setting/Setting.py
  voicevox_engine/setting/SettingLoader.py
Labels: バグ, 優先度：中
